@import './tailwind.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
    font-family: "Roboto", sans-serif;
}

html,
body,
#app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: 14px;
    overflow: hidden;
    position: relative;
    background: #F7F7F7;
}

::-webkit-scrollbar {
    display: none;
}

.title {
    font-family: Onest;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    text-align: left;
    color: #212529;
    margin-top: 34px;
}

.container {
    margin: auto;
    padding: 0px 28px;
}


/* Import PrimeVue theme */
// @import 'primevue/resources/themes/saga-blue/theme.css';

/* Override primary color */
:root {
    --p-primary-color: #212529;
    /* Replace with your desired primary color */
    --primary-color-text: #ffffff;
    /* Text color on primary elements */
}